# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*.pyo

# Virtual envs
.venv/
venv/
env/

# Env files
.env

# ----------------------------
# Build outputs
# ----------------------------
dist/
build/
*.exe

# PyInstaller
*.spec

# ----------------------------
# ----------------------------
.bin/

# ----------------------------
# Logs
# ----------------------------
logs/
*.log

# ----------------------------
# Temp / cache
# ----------------------------
.cache/
.tmp/
*.tmp

# ----------------------------
# OS
# ----------------------------
Thumbs.db
desktop.ini

# ----------------------------
# IDEs
# ----------------------------
.vscode/
.idea/

# ----------------------------
# Project specific
# ----------------------------
validation_reports/
s2k_clean.zip
